/* Hero Area Start */

/* Hero Area End */



/* Channels Review Area Start */

/* Channels Review Area End */




/* Product Features Area Start */

/* Product Features Area End */



/* Branding Blue Area Start */

/* Branding Blue Area End */



/* Branding White Area Start */

/* Branding White Area End */


/* Blog Area Start */

/* Blog Area End */



/* Customers Say Area Start */

/* Customers Say Area End */



/* Submit Area Start */
.general-submit {
background-color: #F8F9FB;
display: flex;
justify-content: space-around;
align-items: center;
}

.text-area {
flex-basis: 45%;
}

.text-area p{
padding-top: 40px;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: -0.10000000149011612px;
color: #437EF7;
}

.text-area h5 {
padding-bottom: 40px;
font-size: 32px;
font-weight: 600;
line-height: 42px;
letter-spacing: -0.01em;
}

.input-area {
display: flex;
align-items: center;
justify-content: stretch;
}

.input-area input{
height: 49px;
width: 352px;
border: 1px solid #DAE0E6;
border-radius: 5px 0 0 5px;
padding: 12px 16px 12px 16px;
}

.input-area :placeholder-shown{

font-family: Inter;
font-size: 15px;
font-weight: 400;
line-height: 22px;
letter-spacing: -0.10000000149011612px;
}
/* Submit Area End */



/* Footer Area Start */

.tablet-footer {
    display: none;
}

.phone-footer {
    display: none;
}

.footer-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.social-icons {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 32px;
}

.footer-deskp {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.logo-social {
    width: 20%;
}

.logo-social p{
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    color: #5F6D7E;
    display: flex;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 16px;

}

.footer-table {
    display: flex;
    flex-direction: column;
    
}

.footer-table h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    padding-bottom: 20px;
}

.footer-table a{
    text-decoration: none;
    color: #5F6D7E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.10000000149011612px;
    padding-bottom: 12px;
}

.tablet-about {
    display: none;
}

.copyrate p{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.10000000149011612px;
color: #5F6D7E;
}

.copyrate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyrate img{
    width: 24px;
    height: 25.71px;
}

/* Footer Area End */