@media (max-width: 345px) {
  .container {
    margin: 0 auto;
    max-width: 345px;
  }
  /* Hero Area Start */

  /* Hero Area End */

  /* Channels Review Area Start */

  /* Channels Review Area End */

  /* Product Features Area Start */

  /* Product Features Area End */

  /* Branding Blue Area Start */
  .containr {
    width: 343px;
    height: 343px;
  }
  .branding h5 {
    width: 146px;
    height: 20px;
  }
  .box {
    width: 343px;
    height: 144px;
  }

  .Velit {
    width: 343px;
    height: 120px;
  }

  .button {
    width: 133px;
    height: 46px;
  }

  /* Branding Blue Area End */
  /* Branding White Area Start */
  .demons img {
    width: 343px;
    height: 343px;
  }
  .demons h6 {
    width: 146px;
    height: 20px;
  }
  .demons p {
    width: 343px;
    height: 144px;
  }
  .Demons {
    width: 343px;
    height: 120px;
  }
  /* Branding White Area End */

  /* Blog Area Start */

  /* Blog Area End */

  /* Customers Say Area Start */

  /* Customers Say Area End */

  /* Submit Area Start */

  /* Submit Area End */

  /* Footer Area Start */

  /* Footer Area End */
}
