@media (max-width: 345px) {
  /* Hero Area Start */

  /* Hero Area End */

  /* Channels Review Area Start */
  .title2 {
    width: 341px;
    height: 270px;
  }
  .title {
    width: 341px;
    height: auto;
  }
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
  }
  .buttons {
    display: grid;
  }
  .detail {
    height: 900px;
    background-image: url(../img/paying2.png);
    background-size: 100%;
    background-position: 0 0;
  }
  .all-changes {
    display: none;
  }
  .write h6 {
    margin-top: -27px;
  }
  /* Channels Review Area End */

  /* Product Features Area Start */

  /* Product Features Area End */

  /* Branding Blue Area Start */

  /* Branding Blue Area End */

  /* Branding White Area Start */

  /* Branding White Area End */

  /* Blog Area Start */

  /* Blog Area End */

  /* Customers Say Area Start */

  /* Customers Say Area End */

  /* Submit Area Start */

  /* Submit Area End */

  /* Footer Area Start */

  /* Footer Area End */
}
