@media (max-width: 704px) {
  /* Hero Area Start */
  #menu-icon {
    display: block;
    color: #272d37;
  }
  .navigation ul {
    display: none;
  }
  .users {
    display: none;
  }
  /* Hero Area End */

  /* Channels Review Area Start */
  .title {
    width: auto;
    height: auto;
  }
  .title2 {
    width: auto;
  }
  .cards {
    margin-left: 6px;
    gap: 22px;
  }
  .card {
    width: 336px;
  }
  .detail {
    height: 986px;
    background-image: url(../img/paying2.png);
    background-size: 100%;
    background-position: 0 0;
  }
  .all-changes {
    display: none;
  }
  .write h6 {
    margin-top: 291px;
  }
  /* Channels Review Area End */

  /* Product Features Area Start */

  /* Product Features Area End */

  /* Branding Blue Area Start */

  /* Branding Blue Area End */

  /* Branding White Area Start */

  /* Branding White Area End */

  /* Blog Area Start */

  /* Blog Area End */

  /* Customers Say Area Start */

  /* Customers Say Area End */

  /* Submit Area Start */

  /* Submit Area End */

  /* Footer Area Start */

  /* Footer Area End */
}
