@media (max-width: 704px) {
  /* Hero Area Start */
  #menu-icon {
    display: block;
    color: #272d37;
  }
  .navigation ul {
    display: none;
  }
  .users {
    display: none;
  }
  /* Hero Area End */

  /* Channels Review Area Start */
  .title {
    width: 672px;
  }
  .cards {
    margin-left: 6px;
    gap: 22px;
  }
  .card {
    width: 336px;
  }
  /* Channels Review Area End */

  /* Product Features Area Start */

  /* Product Features Area End */

  /* Branding Blue Area Start */

  /* Branding Blue Area End */

  /* Branding White Area Start */

  /* Branding White Area End */

  /* Blog Area Start */

  /* Blog Area End */

  /* Customers Say Area Start */

  /* Customers Say Area End */

  /* Submit Area Start */

  /* Submit Area End */

  /* Footer Area Start */

  /* Footer Area End */
}
