@media (max-width: 768px) {

  .container {
    margin: 0 auto;
    max-width: 704px;
  }

  /* Hero Area Start */
  #menu-icon {
    display: block;
    color: #272d37;
  }
  .navigation ul {
    display: none;
  }
  .users {
    display: none;
  }
  /* Hero Area End */

  /* Channels Review Area Start */
  .title {
    width: 672px;
  }
  .cards {
    margin-left: 6px;
    gap: 22px;
  }
  .card {
    width: 336px;
  }
  /* Channels Review Area End */

  /* Product Features Area Start */

  /* Product Features Area End */

  /* Branding Blue Area Start */

  /* Branding Blue Area End */

  /* Branding White Area Start */

  /* Branding White Area End */

  /* Blog Area Start */
  .blog-header{
    padding: 48px 0 32px;
  }

  .blog-header p {
    width: 100%;
  }

  .blog-cards {
    justify-content: center;
    flex-wrap: wrap; 
    gap: 32px;
  }

  .blog-card {
    width: 336px;
  }

  .blog-card-under {
    width: 272px;
  }
  /* Blog Area End */

  /* Customers Say Area Start */

  .customer-header {
    padding: 40px 0;
  }

  .customer-header p {
    width: 100%;
  }

  .custumer-under-card p {
    width: 209px;
  } 

  .divider {
    display: none;
  }

  /* Customers Say Area End */

  /* Submit Area Start */

  /* Submit Area End */

  /* Footer Area Start */

  /* Footer Area End */
}
